h11~=0.14.0
pip~=23.3.2
attrs~=23.1.0
Jinja2~=3.1.2
PyYAML~=6.0.1
exceptiongroup~=1.2.0
sniffio~=1.3.0
MarkupSafe~=2.1.3
werkzeug~=3.0.1
click~=8.1.7
blinker~=1.7.0
itsdangerous~=2.1.2
httpcore~=1.0.2
idna~=3.6
certifi~=2023.11.17
asgiref~=3.7.2
mariadb~=1.1.9
packaging~=23.2
uvicorn~=0.25.0
httptools~=0.6.1
websockets~=12.0
a2wsgi~=1.10.0
watchfiles~=0.21.0
greenlet~=3.0.3
anyio~=4.2.0
urllib3~=2.1.0
flask~=3.0.0
starlette~=0.32.0.post1
connexion[flask,swagger-ui,uvicorn]~=3.0.5
jsonschema~=4.20.0
inflection~=0.5.1
httpx~=0.26.0
python-multipart~=0.0.6
requests~=2.31.0
referencing~=0.32.0
setuptools~=69.0.3
SQLAlchemy~=2.0.23
marshmallow~=3.20.1
flask-marshmallow[sqlalchemy]